@keyframes float {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0%);
        }
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
}
#sinopse{
    display: flex;flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #c9c9c9;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    max-width: 482px;
    min-width: 241px;
    margin-left: 80px;
    animation: fadein 3s;
}
#sinopse h2{
    margin-top: 20px;
}
#sinopse p{
    max-width: 70%;
}
#miles{
    animation:float 5s ease-in-out infinite;
}
@media(max-width:900px){
    #sinopse{
        position: fixed;
        inset: 0;
        top: 50%;
        transform: translateY(-50%);
        animation: none;
        margin: auto;
    }
    #miles{
        display: none;
    }
}