@keyframes descer {
    from{
        display: none;
        transform: translateY(-100px);
    }
    to{
        display: block;
        transform: translateY(0px);
    }
}
@keyframes subir {
    from{
        display: none;
        transform: translateY(100px);
    }
    to{
        display: block;
        transform: translateY(0px);
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sinopse{
    display: flex;flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #c9c9c9;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    max-width: 482px;
    min-width: 241px;
    margin-left: 80px;
    animation: descer 1s;
}
#sinopse h2{
    margin-top: 20px;
}
#sinopse p{
    max-width: 70%;
}
@media(max-width:900px){
    #miles{
        display: none;
    }
    #sinopse{
        margin: auto;
    }
}